In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/customer-data/Mall_Customers.csv

In [2]:
df = pd.read_csv("/kaggle/input/customer-data/Mall_Customers.csv")
df.head()

   CustomerID   Genre  Age  Annual_Income_(k$)  Spending_Score
0           1    Male   19                  15              39
1           2    Male   21                  15              81
2           3  Female   20                  16               6
3           4  Female   23                  16              77
4           5  Female   31                  17              40

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CustomerID          200 non-null    int64
 1   Genre               200 non-null    object
 2   Age                 200 non-null    int64
 3   Annual_Income_(k$)  200 non-null    int64
 4   Spending_Score      200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [4]:
df.set_index('CustomerID', inplace=True)

In [5]:
df.describe()

              Age  Annual_Income_(k$)  Spending_Score
count  200.000000          200.000000      200.000000
mean    38.850000           60.560000       50.200000
std     13.969007           26.264721       25.823522
min     18.000000           15.000000        1.000000
25%     28.750000           41.500000       34.750000
50%     36.000000           61.500000       50.000000
75%     49.000000           78.000000       73.000000
max     70.000000          137.000000       99.000000

In [6]:
df.isnull().sum()

Genre                 0
Age                   0
Annual_Income_(k$)    0
Spending_Score        0
dtype: int64

In [7]:
df['Genre'].unique()

array(['Male', 'Female'], dtype=object)

In [8]:
df['Genre'] = df['Genre'].replace('Male', 1)
df['Genre'] = df['Genre'].replace('Female', 0)

In [9]:
df.head()

            Genre  Age  Annual_Income_(k$)  Spending_Score
CustomerID
1               1   19                  15              39
2               1   21                  15              81
3               0   20                  16               6
4               0   23                  16              77
5               0   31                  17              40

In [10]:
df.dtypes

Genre                 int64
Age                   int64
Annual_Income_(k$)    int64
Spending_Score        int64
dtype: object

In [11]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [12]:
x = df.drop(columns = 'Spending_Score')
y = df['Spending_Score']

In [13]:
model = DecisionTreeClassifier()
# model.fit(x,y)
# predictions = model.predict([[1,20,16], [0, 55, 20]])
# predictions
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size = 0.2)
model.fit(x_train,y_train)
predictions = model.predict(x_test)
score = accuracy_score(y_test,predictions)
score

0.0